

.invoiceMain {
  display: grid;
  padding: 1.75rem;
  gap: 1.75rem 0.5rem;
  grid-template-areas:
    "refAndDesc refAndDesc refAndDesc ..."
    "address ... ... ... "
    "dates clientDetails clientDetails clientDetails"
    "clientEmail clientEmail ... ..."
    "items items items items";
  /* box-shadow: var(--invoiceShadow); */
  max-width: 100%;
}

@media (min-width: 700px) {
  .invoiceMain {
    display: grid;

    padding: 1.75rem;
    row-gap: 1.25rem;
    grid-template-areas:
      "refAndDesc ... ... ... ...  address address"
      "dates ... clientDetails clientDetails ...  clientEmail ..."
      "items items items items items items items";
  }
}

.refAndDescription {
  grid-area: refAndDesc;
}
.address {
  grid-area: address;
  width: max-content;
}
@media (min-width: 768px) {
  .address {
    justify-self: end;
  }
}

.dates {
  grid-area: dates;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  width: max-content;
}

.createdAt,
.paymentDue {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ref {
  grid-area: ref;
  padding-bottom: 0.25rem;
}

.description {
  grid-area: description;
}

.clientDetails {
  grid-area: clientDetails;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: max-content;
}
@media (max-width: 700px) {
  .clientDetails {
    justify-self: center;
  }
}

.clientEmail {
  grid-area: clientEmail;
}

.itemsWrapper {
  grid-area: items;
}

.refHash {
  color: var(--accent);
}
