.invoiceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.invoiceItem div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quantityXPrice {
  color: var(--text-faded-secondary);
}
