.dropdownContainer {
  position: relative;

}

.dropdownContainer input {
  width: 100%;
}
.inputContainer {
  position: relative;
  width: 100%;
  padding: 0;
  border-width: 1px;
  height: 36px;
  padding-left: 10px;
}

.inputArrowContainer {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -2px;
  cursor: pointer;
}

.inputArrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: translateY(45deg);
  -webkit-transform: rotate(45deg);
}

.option {
  height: 36px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
}

.option:hover {
  background-color: blue;
}

.dropdown {
  border: 1px solid black;
  border-bottom: none;
  position: absolute;
  width: 100%;
  display: none;
}

.dropdown.visible {
  display: block;
}

.inputClearContainer {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
}

.inputContainer{
  position: relative;
}
.inputContainer p{
  position: absolute;
  background-color: var(--secondary-bg);
  width: 100%;

  top: 0;
  left: 0;
  padding: .5rem 1.5rem;
  border-radius: 8px;
}