:root {
  --modalCheckbox-primary: #7c5dfa;
  --modalCheckboxBg: #1e2139;
  --modalCheckboxBg-light: #dfe3fa;
}

.modalFormItemLabel {
  cursor: pointer;
  text-transform: capitalize;
}

.modalFormItem,
.modalFormItemChecked,
.modalFormItemLight,
.modalFormItemCheckedLight {
  display: flex;
  gap: 0.75rem;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}

.modalFormCheckbox,
.modalFormCheckboxLight {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0px;
}

.modalFormIcon,
.modalFormIconLight {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 101;
}

.modalFormIconLight {
  color: #ffffff;
}

.modalFormItem:after,
.modalFormItemChecked:after,
.modalFormItemLight:after,
.modalFormItemCheckedLight:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 2px;
  z-index: 100;
}

.modalFormItem:hover:after,
.modalFormItemLight:hover:after {
  border: 1px solid var(--filterModalCheckbox-primary);
}

.modalFormItem:after {
  background-color: var(--modalCheckboxBg);
}
.modalFormItemLight:after {
  background-color: var(--modalCheckboxBg-light);
}

.modalFormItemChecked:after,
.modalFormItemCheckedLight:after {
  background-color: var(--modalCheckbox-primary);
}
