

.modalFormItemLabel {
  cursor: pointer;
  text-transform: capitalize;
}

.modalFormItem,
.modalFormItemChecked {
  display: flex;
  gap: 0.75rem;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
}

.modalFormCheckbox {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0px;
}

.modalFormIcon {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 101;
}

.modalFormIcon {
  color: #ffffff;
}

.modalFormItem:after,
.modalFormItemChecked:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 2px;
  z-index: 100;
}

.modalFormItem:hover:after {
  border: 1px solid var(--primary-600);
}

.modalFormItem:after {
  background-color: var(--filterModalItemBg);
}

.modalFormItemChecked:after {
  background-color: var(--primary-600);
}
