.modal {
  position: absolute;
  top: 35px;
  left: -35px;
  padding: 1.5rem;
}
.modal {
  background-color: var(--filterModal-color);
  box-shadow: var(--filterModal-shadow);
  z-index: 100;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
