.invoiceItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--invoiceItemsBg);
  padding: 1.75rem;
  border-radius: 8px 8px 0 0;
}
.invoiceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.invoiceItem div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quantityXPrice {
  color: var(--text-faded-secondary);
}


@media (min-width: 768px) {
  .invoiceItems {
    display: none;
  }
}
