@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-error: #a31616;
  --toastify-color-light: #f9fafb;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #14532d;
  --toastify-color-warning: #f1c40f;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
}

@layer base {
  :root {
    --color-text-base: 0 0 0;
    --color-text-muted: 34 34 34;
    --color-text-inverted: 255 255 255;
    --color-primary: 250 250 250;
    --color-secondary: 255 255 255;
    --color-fill: 200 200 200;
    --color-edit: 0 0 255;
    --color-danger: 255 0 0;
    --color-warning: 255 165 0;
    --color-success: 0 100 0;
    --color-ring-base: 148 4 244;
    --color-button-default: 150 150 150;
    --color-navbar: 30 30 30;
  }

  .dark-theme {
    --color-text-base: 255 255 255;
    --color-text-muted: 241 241 241;
    --color-text-inverted: 0 0 0;
    --color-primary: 18 18 18;
    --color-secondary: 30 30 30;
    --color-fill: 75 75 75;
    --color-button-default: 74 74 74;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded-md  border-skin-fill bg-skin-fill text-skin-base shadow-md   focus:border-transparent focus:outline-none focus:ring-2 focus:ring-skin-base  active:ring-2 active:ring-skin-base 
    dark:focus:ring-4;
  }
}

@layer components {
  .default-text {
    @apply text-gray-900 dark:text-gray-50 print:text-black dark:print:text-black;
  }

  .btn {
    @apply cursor-pointer rounded-md py-2 px-4 outline-none transition-colors;
  }

  .btn-neutral {
    @apply btn bg-skin-btn-default text-skin-inverted;
  }

  .inputError {
    @apply aria-[invalid=true]:ring-2 aria-[invalid=true]:ring-skin-danger;
  }

  .errorMessage {
    @apply relative -top-1 text-sm text-skin-danger aria-[invalid=true]:visible aria-[invalid=false]:invisible;
  }
}

@media print {
  .noPrint {
    display: none;
  }

  .print {
    box-shadow: none;
    transform: scale(1.05);
    display: block;
  }
}

@page {
  margin-top: 5%;
  size: auto;
}
