.invoiceFormItem {
  width: 100%;
  display: grid;
  gap: 1.75rem 0.75rem;

  grid-template-areas:
    'name name name name'
    'qty price total icon';

  grid-template-columns: 60px 1fr 1fr 40px;
}

@media (min-width: 768px) {
  .invoiceFormItem {
    grid-template-areas: 'name qty price total icon';
    grid-template-columns: 2fr 60px 1fr 1fr 40px;
  }
}
.name {
  grid-area: name;
}

.qty {
  grid-area: qty;

}
.price {
  grid-area: price;
}

.total {
  grid-area: total;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  grid-area: icon;
  cursor: pointer;
}
.trashIcon {
  color: var(--neutral-500);
}
