.invoiceItemsTable {
  display: none;
}

@media (min-width: 768px) {
  .invoiceItemsTable {
    display: revert;
    background-color: var(--invoiceItemsBg);
    border-radius: 8px 8px 0 0;
    width: 100%;
    padding: 2rem 2rem 0rem 2rem;
  }

  .invoiceItemsTable th {
    text-align: end;
  }

  .invoiceItemsTable th:first-child {
    text-align: start;
  }

  .invoiceItemsTable tr td:first-child {
    text-align: start;
  }

  .invoiceItemsTable tr td {
    text-align: end;
    padding-block: 1.5rem;
  }
}
