.invoiceWrapper {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--main-bg);
}

.invoiceContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.goBackLinkWrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: max-content;
}

.goBackLink {
  text-decoration: none;
  color: var(--text);
  font-size: 0.9rem;
  font-weight: 700;
  position: relative;
  top: 1px;
}

.iconLeft {
  color: var(--primary-600);
  font-size: 0.9rem;
}

.invoiceStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.75rem;
}

.invoiceMain {
  display: grid;
  gap: 1rem;
  padding: 1.75rem;

  grid-template-areas:
    'invoiceRef ...'
    'invoiceDescription ...'
    'invoiceAddress ...'
    'invoiceDates invoiceClientDetails'
    'invoiceClientEmail invoiceClientEmail'
    'items items'
    'items items';
}

.invoiceRef {
  outline: 2px solid yellow;
  grid-area: invoiceRef;
}

.invoiceDescription {
  outline: 2px solid blue;
  grid-area: invoiceDescription;
}

.invoiceAddress {
  outline: 2px solid red;
  grid-area: invoiceAddress;
}

.invoiceDates {
  outline: 2px solid white;
  grid-area: invoiceDates;
}

.invoiceCreatedAt {
  outline: 2px solid purple;
  grid-area: invoiceCreatedAt;
}

.invoicePaymentDue {
  outline: 2px solid coral;
  grid-area: invoicePaymentDue;
}

.invoiceClientDetails {
  outline: 2px solid lightgrey;
  grid-area: invoiceClientDetails;
}

.invoiceClientName {
  outline: 2px solid green;
}

.invoiceClientAddress {
  outline: 2px solid pink;
}

.invoiceClientEmail {
  outline: 2px solid lightskyblue;
  grid-area: invoiceClientEmail;
}

.invoiceRefHash {
  color: var(--accent);
}

.amountDue {
  background-color: #0c0e16;
  padding: 1.75rem;
}

.invoiceItemsWrapper {
  grid-area: items;
}
