.invoiceWrapper {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--main-bg);
}

.invoiceContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.goBackLinkWrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: max-content;
}

.goBackLink {
  text-decoration: none;
  color: var(--text);
  font-size: 0.9rem;
  font-weight: 700;
  position: relative;
  top: 1px;
}

.iconLeft {
  color: var(--primary-600);
  font-size: 0.9rem;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.75rem;
  gap: 1rem;
}

.invoiceMain {
  display: grid;
  padding: 1.75rem;
  row-gap: 1.75rem;
  grid-template-areas:
    'refAndDesc refAndDesc refAndDesc ...'
    'address ... ... ... '
    'dates ... clientDetails  clientDetails'
    'clientEmail clientEmail ... ...'
    'items items items items';
}

.buttonWrapperTop {
  display: none;
}

.buttonWrapperBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1.75rem 1.5rem;
}

@media (min-width: 768px) {
  .invoiceMain {
    display: grid;
    padding: 1.75rem;
    row-gap: 1.25rem;
    grid-template-areas:
      'refAndDesc ... ... ... ...  ... address'
      'dates ... ... clientDetails ...  clientEmail ...'
      'items items items items items items items';
  }

  .statusAndButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .buttonWrapperBottom {
    display: none;
  }

  .buttonWrapperTop {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}

.refAndDescription {
  grid-area: refAndDesc;
}
.address {
  grid-area: address;
}

.dates {
  grid-area: dates;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.createdAt,
.paymentDue {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ref {
  grid-area: ref;
  padding-bottom: 0.25rem;
}

.description {
  grid-area: description;
}

.clientDetails {
  grid-area: clientDetails;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.clientEmail {
  grid-area: clientEmail;
}

.itemsWrapper {
  grid-area: items;
}

.refHash {
  color: var(--accent);
}

.items {
  background-color: var(--invoiceItemsBg);
  padding: 1.75rem;
  border-radius: 8px 8px 0 0;
}

.amountDue {
  background-color: var(--invoiceAmountDue);
  color: var(--white);
  padding: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.amountDue p {
  color: var(--white);
}
