/* .invoicePreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  box-shadow: var(--invoiceShadow);
  cursor: pointer;
}

.invoiceRefHash {
  color: var(--accent);
}

@media (max-width: 640px) {
  .invoicePreview {
    padding: 1.5rem clamp(1rem, 10vw, 1.5rem);
    display: grid;
    grid-template-areas:
      'invoiceRef invoiceRef invoiceRef name'
      'dueDate dueDate  dueDate paymentStatus'
      'amount amount amount  paymentStatus';
    gap: 0.5rem;
  }

  .invoiceRef {
    grid-area: invoiceRef;
    padding-bottom: 1rem;
  }

  .dueDate {
    grid-area: dueDate;
  }
  .name {
    justify-self: center;
    grid-area: name;
    padding-bottom: 1rem;
  }

  .amount {
    grid-area: amount;
  }

  .paymentStatus {
    justify-self: center;
    grid-area: paymentStatus;
  }
} */
