:root {
  --btnPrimaryText: #ffffff;
  --btnPrimary: #7c5dfa;
  --btnPrimaryHover: #9277ff;
  --btnThreeDark: #252945;
  --btnThreeDarkText: #dfe3fa;
  --btnThreeDarkHover: #ffffff;
  --btnThreeLightText: #7e88c3;
  --btnThreeLight: #f9fafe;
  --btnThreeLightHover: #dfe3fa;
  --btnThreeLightHoverText: #7e88c3;

  --btnFourLightDark: #373b53;
  --btnFourLightText: #888eb0;
  --btnFourLightHover: #0c0e16;
  --btnFourDarkText: #dfe3fa;
  --btnFourDarkHover: #1e2139;

  --btnFive: #ec5757;
  --btnFiveText: #ffffff;
  --btnFiveHover: #ff9797;

  --btnSix: #f9fafe;
  --btnSixText: #7e88c3;
  --btnSixHover: #dfe3fa;
}

.btn {
  border-radius: 24px;
  padding-block: 0.8rem;
  padding-inline: 1.5rem;
  font-size: var(--fs-sm);
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.btnPrimary {
  background-color: var(--btnPrimary);
  color: var(--btnPrimaryText);
  width: max-content;
}

.btnPrimary:hover {
  background-color: var(--btnPrimaryHover);
}

.btnThree {
  background: var(--btnThreeDark);
  color: var(--btnThreeDarkText);
  width: max-content;
}

.btnThree:hover {
  background-color: var(--btnThreeDarkHover);
}

.btnThreeLight {
  background-color: var(--btnThreeLight);
  color: var(--btnThreeLightText);
  width: max-content;
}

.btnThreeLight:hover {
  background-color: var(--btnThreeLightHover);
  color: var(--btnThreeLightHoverText);
}

.btnFour,
.btnFourLight {
  background: var(--btnFourLightDark);
  width: max-content;
}

.btnFour {
  color: var(--btnFourDarkText);
}

.btnFour:hover {
  background-color: var(--btnFourDarkHover);
}

.btnFourLight {
  color: var(--btnFourLightText);
}

.btnFourLight:hover {
  background-color: var(--btnFourLightHover);
}

.btnFive,
.btnFiveLight {
  background-color: var(--btnFive);
  color: var(--btnFiveText);
  width: max-content;
}

.btnFive:hover,
.btnFiveLight:hover {
  background-color: var(--btnFiveHover);
}

.btnSix,
.btnSixLight {
  background-color: var(--btnSix);
  color: var(--btnSixText);
}

.btnSix:hover,
.btnSixLight:hover {
  background-color: var(--btnSixHover);
}

.btnWithIcon {
  padding-block: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  gap: 0.5rem;
}

.btnIcon {
  background-color: var(--text-light);
  color: var(--btnPrimary);
  border-radius: 100%;
  text-align: center;
  padding: 0.6875rem;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 0.625rem;
}

.btnPrimary:hover .btnIcon {
  color: var(--btnPrimaryHover);
}
