@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
  --white: #ffffff;
  --orange: #ec5757;
  --accent: #7e88c3;
  --primary-600: #7c5dfa;
  --primary-400: #9277ff;
  --btnFour: #373b53;
  --btnFiveHover: #ff9797;
  --btnSix: #f9fafe;
  --btnSixText: #7e88c3;
  --btnSixHover: #dfe3fa;

  /* Variables to change dark/light */
  --main-bg: #141625;
  --secondary-bg: #1e2139;
  --text: #ffffff;
  --text-faded: #dfe3fa;
  --btnThree: #252945;
  --btnThreeText: #dfe3fa;
  --btnThreeHover: #ffffff;
  --btnFourHover: #1e2139;
  --filterModalBg: #252945;
  --filterModalShadow: 0px 10px 20px 0px #00000040;
  --filterModalItemBg: #1e2139;
  --invoiceItemsBg: #252945;
  --invoiceAmountDue: #0c0e16;
  --paymentStatusDraft: #dfe3fa;
  --invoiceItemQuantityXPrice: #888EB0;
  --invoiceItemsBg: #252945;

  /* font sizes */
  --fs-xl: clamp(2rem, 5vw, 2.25rem);
  --fs-lg: clamp(1.25rem, 5vw, 1.5rem);
  --fs-md: 0.9rem;
  --fs-sm: clamp(0.8125rem, 5vw, 0.9rem);
  --fs-xs: 0.75rem;
}

[data-theme='light'] {
  --main-bg: #f2f2f2;
  --secondary-bg: #ffffff;
  --text: #0c0e16;
  --text-faded: #888eb0;
  --btnThree: #f9fafe;
  --btnThreeText: #7e88c3;
  --btnThreeHover: #dfe3fa;
  --btnFourHover: #0c0e16;
  --filterModalBg: #ffffff;
  --filterModalShadow: 0px 10px 20px 0px #48549f40;
  --filterModalItemBg: #dfe3fa;
  --invoiceItemsBg: #f9fafe;
  --invoiceAmountDue: #373b53;
  --paymentStatusDraft: #373b53;
  --invoiceItemQuantityXPrice: #7E88C3;
  --invoiceItemsBg: #F9FAFE;
}

body {
  font-family: 'League Spartan', sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
}

.container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
}
h1 {
  font-size: var(--fs-xl);
  line-height: 36px;
  letter-spacing: 1px;
}

h2 {
  font-size: var(--fs-lg);
  line-height: 22px;
  letter-spacing: 0.63px;
}

h3 {
  font-size: var(--fs-md);
  line-height: 24px;
  letter-spacing: 0.8px;
  
}

h4 {
  font-size: var(--fs-sm);
  line-height: 15px;
  letter-spacing: .9px;
 
}

.text,
.text-faded {
  font-weight: 500;
  font-size: var(--fs-sm);
  line-height: 15px;
  letter-spacing: 0.25px;
}

.text,
.text-xs {
  color: var(--text);
}

.text-faded,
.text-faded-xs {
  color: var(--text-faded);
}

.text-xs,
.text-faded-xs {
  font-weight: 500;
  font-size: var(--fs-xs);
  line-height: 18px;
  letter-spacing: 0.23px;
}

.main-bg {
  background-color: var(--main-bg);
  color: var(--text);
}

.secondary-bg {
  background-color: var(--secondary-bg);
  color: var(--text);
  border-radius: 8px;
}
