@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
  /* base colors */
  --accent: #7e88c3;
  --primary-600: #7c5dfa;
  --primary-400: #9277ff;
  --white: #ffffff;
  --orange-600: #ec5757;
  --orange-400: #ff9797;
  --neutral-100: #f2f2f2;
  --neutral-200: #f8f8fb;
  --neutral-300: #f9fafe;
  --neutral-400: #dfe3fa;
  --neutral-500: #888eb0;
  --neutral-600: #373b53;
  --neutral-700: #252945;
  --neutral-900: #1e2139;
  --dark-900: #0c0e16;
  --dark-800: #141625;

  --orange: var(--orange-600);
  --btnFiveHover: var(--orange-600);
  --btnSixText: var(--accent);
  --btnSixHover: var(--neutral-400);
  --invoiceShadow: 0px 10px 10px -10px #48549f1a;
  --btnFour: var(--neutral-600);
  --btnFourText: var(--neutral-400);
  --btnSix: var(--neutral-300);

  /* Variables to change dark/light */
  --main-bg: var(--dark-800);
  --secondary-bg: var(--neutral-900);
  --text: var(--white);
  --text-faded: var(--neutral-400);
  --btnThree: var(--neutral-700);
  --btnThreeText: var(--neutral-400);
  --btnThreeHover: var(--white);

  --btnFourHover: var(--neutral-900);
  --filterModalBg: var(--neutral-700);
  --filterModalShadow: 0px 10px 20px 0px #00000040;
  --filterModalItemBg: var(--neutral-900);
  --invoiceItemsBg: var(--neutral-700);
  --invoiceAmountDue: var(--dark-900);
  --paymentStatusDraft: var(--neutral-400);
  --text-faded-secondary: var(--neutral-500);
  --invoiceFormHeaderAccent: #777f98;
  --invoiceFormSelectBg: var(--neutral-700);
  --invoiceFormSelectBorder: var(--neutral-900);
  --formItemBorderColor: var(--neutral-700);
  /* font sizes */
  --fs-xl: clamp(2rem, 5vw, 2.25rem);
  --fs-lg: clamp(1.25rem, 5vw, 1.5rem);
  --fs-md: 1rem;
  --fs-h4: clamp(0.8125rem, 5vw, 1rem);
  --fs-sm: 0.8125rem;
  --fs-xs: 0.75rem;
}

[data-theme='light'] {
  /* --main-bg: var(--neutral-100); */
  --main-bg: var(--white);
  --secondary-bg: var(--white);
  --text: var(--dark-900);
  --text-faded: var(--neutral-500);
  --btnThree: var(--neutral-300);
  --btnThreeText: var(--accent);
  --btnThreeHover: var(--neutral-400);
  --btnFourText: var(--neutral-500);
  --btnFourHover: var(--dark-900);
  --filterModalBg: var(--white);
  --filterModalShadow: 0px 10px 20px 0px #48549f40;
  --filterModalItemBg: var(--neutral-400);
  --invoiceItemsBg: var(--neutral-300);
  --invoiceAmountDue: var(--neutral-600);
  --paymentStatusDraft: var(--neutral-600);
  --text-faded-secondary: var(--accent);
  --invoiceItemsBg: var(--neutral-300);
  --invoiceFormHeaderAccent: var(--neutral-500);
  --invoiceFormSelectBg: var(--white);
  --formItemBorderColor: var(--neutral-400);
  --invoiceFormSelectBorder: var(--neutral-400);
}

[data-theme='light'] input {
  color-scheme: light;
}

body {
  font-family: 'League Spartan', sans-serif;
  color: var(--text);
  margin: 0;
  padding: 0;
}

input {
  color-scheme: dark;
  cursor: pointer;
}
.container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--text);
}
h1 {
  font-size: var(--fs-xl);
  line-height: 36px;
  letter-spacing: 1px;
}

h2 {
  font-size: var(--fs-lg);
  line-height: 22px;
  letter-spacing: 0.63px;
}

h3 {
  font-size: var(--fs-md);
  line-height: 24px;
  letter-spacing: 0.8px;
}

h4 {
  font-size: var(--fs-h4);
  line-height: 15px;
  letter-spacing: 0.9px;
}

.text,
.text-faded {
  font-weight: 500;
  font-size: var(--fs-sm);
  line-height: 15px;
  letter-spacing: 0.25px;
}

.text,
.text-xs {
  color: var(--text);
}

.text-faded,
.text-faded-xs {
  color: var(--text-faded);
}

.text-xs,
.text-faded-xs {
  font-weight: 500;
  font-size: var(--fs-xs);
  line-height: 18px;
  letter-spacing: 0.23px;
}

.main-bg {
  background-color: var(--main-bg);
  color: var(--text);
}

.secondary-bg {
  background-color: var(--secondary-bg);
  color: var(--text);
  border-radius: 8px;
}

.grid-row-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.75rem;
}

@media (max-width: 400px) {
  .grid-row-half {
    gap: 0.5rem;
  }
}
@media (max-width: 340px) {
  .grid-row-half {
    gap: 01.75rem;
    grid-template-columns: 1fr;
  }
}
