@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

:root {
  --primary-600: #7c5dfa;
  --primary-400: #9277ff;
  --dark: #373b53;
  --text-dark: #0c0e16;
  --text-dark-faded: #888eb0;
  --text-light-faded: #dfe3fa;
  --text-light: #ffffff;

  --orange-600: #ec5757;

  --fs-xl: 2.25rem;
  --fs-lg: 1.5rem;
  --fs-md: 1.25rem;
  --fs-sm: 1rem;
  --fs-xs: 0.75rem;
}

body {
  font-family: 'League Spartan', sans-serif;
  color: var(--text-dark);
  margin: 0;
  padding: 0;
}

.container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
h1 {
  font-size: var(--fs-xl);
  line-height: 36px;
  letter-spacing: -1px;
}

h2 {
  font-size: var(--fs-lg);
  line-height: 22px;
  letter-spacing: -0.63px;
}

h3 {
  font-size: var(--fs-md);
  line-height: 24px;
  letter-spacing: -0.8px;
}

h4 {
  font-size: var(--fs-sm);
  line-height: 15px;
  letter-spacing: -0.25px;
}

.text,
.faded-text-dark,
.faded-text-light {
  font-weight: 500;
  font-size: var(--fs-sm);
  line-height: 15px;
  letter-spacing: -0.25px;
}

.text-xs {
  font-weight: 500;
  font-size: var(--fs-xs);
  line-height: 18px;
  letter-spacing: -0.23px;
}

.light-text {
  color: var(--text-dark);
}

.dark-text {
  color: var(--text-light);
}

.faded-text-dark {
  color: var(--text-dark-faded);
}

.faded-text-light {
  color: var(--text-light-faded);
}
