
.noInvoicesWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.noInvoices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: clamp(217px, 40vw, 250px);
  gap: 2.5rem;
  padding-top: 6.25rem;
}

.noInvoices div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.noInvoices p {
  font-size: 0.9rem;
  color: var(--text-faded);
  font-weight: 500;
  letter-spacing: .25px;
  line-height: 20px;
  padding: 0 0.5rem;
  text-align: center;
}

.textNew{
  font-weight: 700;
}

.noInvoices span:not(.textNew){
  display: none;
}


@media(min-width: 640px){
  .noInvoices{
    max-width: 242px;
  }
  
  .noInvoices span:not(.textNew){
    display: inline;
    font-weight: 700;
  }
  
}