.invoiceFormSelect {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.invoiceFormSelect label {
  color: var(--text-faded-secondary);
}

.dropdownContainer {
  position: relative;
}

.dropdownContainer input {
  display: none;
}

.inputContainer {
  position: relative;
  width: 100%;
  padding: 1rem 1.5rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.option {
  border-bottom: 2px solid var(--invoiceFormSelectBorder);
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
  color: var(--text);
}

.option:hover {
  color: var(--primary-600);
}

.dropdown {
  border-bottom: none;
  position: absolute;
  width: 100%;
  display: none;
  border-radius: 8px;
  background-color: var(--secondary-bg);
}

.dropdown.visible {
  display: block;
}

.inputContainer div {
  position: absolute;
  background-color: var(--secondary-bg);
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.inputContainer div:active,
.inputContainer div:focus {
  border: 1px solid var(--primary-600);
}

.icon {
  color: var(--primary-600);
  position: absolute;
  right: 24px;
}
