.invoiceFormSelect {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.invoiceFormSelect label {
  color: var(--text-faded-secondary);
}

.dropdownContainer {
  position: relative;
}

.inputContainer {
  position: relative;
  width: 100%;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.option {
  border-bottom: 2px solid var(--invoiceFormSelectBorder);
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
  color: var(--text);
}

.option:last-child {
  border-bottom: none;
}

.option:hover {
  color: var(--primary-600);
}

.dropdown {
  border-bottom: none;
  position: absolute;
  width: 100%;
  display: none;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  box-shadow: var(--filterModalShadow);
}

.dropdown.visible {
  display: block;
}

.inputContainer input {
  background-color: var(--secondary-bg);
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--formItemBorderColor);
}

.inputContainer input:hover,
.inputContainer input:active,
.inputContainer input:focus {
  border: 1px solid var(--primary-600);
  outline: 1px solid var(--primary-600);
}

.icon {
  color: var(--primary-600);
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

