




.invoiceFormInput.noBg input {
  background-color: transparent;
  color: var(--text-faded);
}

.invoiceFormInput.maxContent input {
  padding: 1rem 0;
  width: 100%;
  text-align: center;
}

.invoiceFormInput input:active,
.invoiceFormInput input:focus {
  outline: 1px solid var(--primary-600);
}

.inputError label {
  color: var(--orange-600);
}

.inputError input {
  outline: 1px solid var(--orange-600);
  position: relative;
}

.inputError:before {
  content: "Can't be empty";
  position: relative;
  top: 25px;
  align-self: end;
  color: var(--orange-600);
  font-size: 0.7rem;
  padding: 0 0.25rem;
}
