.amountDue {
  background-color: var(--invoiceAmountDue);
  color: var(--white);
  padding: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.amountDue p {
  color: var(--white);
}
