:root {
  --invoiceRef-hashtag: #7e88c3;
}

.invoicePreview {
  background-color: var(--invoicePreview-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.invoiceRefHash {
  color: var(--invoiceRef-hashtag);
}

@media (max-width: 640px) {
  .invoicePreview {
    background-color: var(--invoicePreview-bg);
    border-radius: 8px;
    padding: 1.5rem clamp(1rem, 10vw, 1.5rem);
    display: grid;
    grid-template-areas:
      'invoiceRef invoiceRef invoiceRef name'
      'dueDate dueDate  dueDate paymentStatus'
      'amount amount amount  paymentStatus';
    gap: 0.5rem;
  }

  .invoiceRef {
    grid-area: invoiceRef;
    padding-bottom: 1rem;
  }

  .dueDate {
    grid-area: dueDate;
  }
  .name {
    justify-self: center;
    grid-area: name;
    padding-bottom: 1rem;
  }

  .amount {
    grid-area: amount;
  }

  .paymentStatus {
    justify-self: center;
    grid-area: paymentStatus;
  }
}
