:root {
  --invoicePreview-bg: #1e2139;
  --invoicePreview-bg-light: #ffffff;
  --invoiceRef-hashtag: #7e88c3;
}

.invoicePreview {
  background-color: var(--invoicePreview-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.invoiceRefHash {
  color: var(--invoiceRef-hashtag);
}

.customBullet {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  position: relative;
  top: -1px;
}

.paymentStatus {
  width: 110px;
  padding: 0.8125rem 1rem;
  text-transform: capitalize;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.paymentStatus:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  mix-blend-mode: normal;
  opacity: 0.06;
  background: var(--paymentStatusColor);
}

.paymentStatus .customBullet {
  background-color: var(--paymentStatusColor);
}

.paymentStatus h4 {
  color: var(--paymentStatusColor);
}

@media (max-width: 640px) {
  .invoicePreview {
    background-color: var(--invoicePreview-bg);
    border-radius: 8px;
    padding: 1.5rem clamp(1rem, 10vw, 1.5rem);
    display: grid;
    grid-template-areas:
      'invoiceRef invoiceRef invoiceRef name'
      'dueDate dueDate  dueDate paymentStatus'
      'amount amount amount  paymentStatus';
    gap: 0.5rem;
  }

  .invoiceRef {
    grid-area: invoiceRef;
    padding-bottom: 1rem;
  }

  .dueDate {
    grid-area: dueDate;
  }
  .name {
    justify-self: center;
    grid-area: name;
    padding-bottom: 1rem;
  }

  .amount {
    grid-area: amount;
  }

  .paymentStatus {
    justify-self: center;
    grid-area: paymentStatus;
  }
}
