.invoicesPageController {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
}

.invoicesControllerLeftSide{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.invoicesControllerRightSide{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
}