.goBackLinkWrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: max-content;
}

.goBackLink {
  text-decoration: none;
  color: var(--text);
  font-size: 0.9rem;
  font-weight: 700;
  position: relative;
  top: 1px;
}

.iconLeft {
  color: var(--primary-600);
  font-size: 0.9rem;
}
