:root {
  --invoicePreview-bg: #1e2139;
  --invoicePreview-bg-light: #ffffff;
  --invoiceRef-hashtag: #7e88c3;
  --invoicePaid: #33d69f;
  --invoicePending: #ff8f00;
  --invoiceDraft: #dfe3fa;
}

.invoicePreview {
  background-color: var(--invoicePreview-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}

.invoiceRefHash {
  color: var(--invoiceRef-hashtag);
}

.paymentStatusPaid {
  
  height: max-content;
  padding: 0.75rem clamp(1.5rem, 5vw, 1.75rem);
  text-transform: capitalize;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.paymentStatusPaid:before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.paymentStatusPaid:before {
  background-color: var(--invoicePaid);
  mix-blend-mode: normal;
  opacity: 0.06;
}

.paymentStatusTextPaid {
  color: var(--invoicePaid);
}
.customBulletPaid {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  position: relative;
  top: -1px;
}

.customBulletPaid {
  background-color: var(--invoicePaid);
}

@media (max-width: 640px) {
  .invoicePreview {
    background-color: var(--invoicePreview-bg);
    border-radius: 8px;
    padding: 1.5rem clamp(1rem, 10vw, 1.5rem);
    display: grid;
    grid-template-areas:
      'invoiceRef invoiceRef invoiceRef name'
      'dueDate dueDate  dueDate paymentStatus'
      'amount amount amount  paymentStatus';
    gap: 0.5rem;
  }

  .invoiceRef {
    grid-area: invoiceRef;
    padding-bottom: 1.5rem;
  }

  .dueDate {
    grid-area: dueDate;
  }
  .name {
    justify-self: end;
    grid-area: name;
    padding-bottom: 1.5rem;
  }

  .amount {
    grid-area: amount;
  }

  .paymentStatusPaid {
    justify-self: end;
    grid-area: paymentStatus;
  }
}
