.btn {
  border-radius: 24px;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  font-size: var(--fs-sm);
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.btnPrimary {
  background-color: var(--primary-600);
  color: var(--white);
  width: max-content;
}

.btnPrimary:hover {
  background-color: var(--primary-400);
}

.btnThree {
  background: var(--btnThree);
  color: var(--btnThreeText);
  width: max-content;
}

.btnThree:hover {
  background-color: var(--btnThreeHover);
  color: var(--accent);
}

.btnFour {
  color: var(--btnFourText);
  background: var(--btnFour);
  width: max-content;
}

.btnFour:hover {
  background-color: var(--btnFourHover);
}

.btnFive {
  background-color: var(--orange);
  color: var(--white);
  width: max-content;
}

.btnFive:hover {
  background-color: var(--btnFiveHover);
}

.btnSix {
  background-color: var(--btnSix);
  color: var(--btnSixText);
}

.btnSix:hover {
  background-color: var(--btnSixHover);
}

.btnWithIcon {
  padding-block: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  gap: 0.5rem;
}

.btnIcon {
  background-color: var(--white);
  color: var(--primary-600);
  border-radius: 100%;
  text-align: center;
  padding: 0.6875rem;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 0.625rem;
}

.btnPrimary:hover .btnIcon {
  color: var(--primary-400);
}

.fullWidth {
  width: 100%;
}
