.invoiceFormItem {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.invoiceFormItem label {
  color: var(--text-faded-secondary);
}

.invoiceFormItem input {
  background-color: var(--secondary-bg);
  border: 1 solid var(--secondary-bg);
  padding: 1rem 1.5rem;
  color: var(--text);
}
