.pageLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  background-color: var(--main-bg);
  position: relative;
}

@media (min-width: 1100px) {
  .pageLayout {
    display: grid;
    grid-template-columns: 72px 1fr;
    min-height: 100vh;
  }

  .outletDiv {
    width: 100%;
    grid-column-start: 2;
  }
}
